In [1]:
import pandas as pd
import numpy as np

In [2]:
from pycaret.regression import *

In [3]:
import mlflow

In [4]:
data = pd.read_csv("raw.csv")
data.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [5]:
# mlflow.set_tracking_uri('http://127.0.0.1:5000')

In [18]:
mlflow.set_tracking_uri('http://ec2-54-212-194-129.us-west-2.compute.amazonaws.com:5000')

In [26]:
s = setup(data, 
          target='Rent', 
          session_id=123, 
          experiment_name='experiment_et_tunned', 
          log_experiment=True)

2023/07/01 12:35:18 INFO mlflow.tracking.fluent: Experiment with name 'experiment_et_tunned' does not exist. Creating a new experiment.

In [23]:
# best = compare_models()

In [27]:
best = create_model('et')

In [ ]:
# check the residuals of trained model
plot_model(best, plot = 'residuals_interactive')

In [ ]:
# check feature importance
plot_model(best, plot = 'feature')

In [ ]:
# model1 = create_model('rf')

In [28]:
tune = tune_model(best, n_iter = 10)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [29]:
final = finalize_model(best)

In [ ]:
#

In [29]:
# save pipeline
save_model(final, 'model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\CHRIST~1\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['BHK', 'Size', 'Bathroom'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['Posted On', 'Floor', 'Area Type',
                                              'Area Locality', 'City',
                                              'Furnishing Status',
                                              'Tenant Preferred',
                                              'Point of Contact'],...
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['Posted On', 'Floor',
                                              'Area Locality'],
                                     transformer=TargetEncoder(cols=['Posted On',
                                                                     'Floor',
                                                                     'Area '
                                                                     'Locality'],
                                                               handle_missing='return_nan'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator',
                  GradientBoostingRegressor(random_state=123))]),
 'model.pkl')

In [ ]:
!mlflow ui

In [17]:
deploy_model(final, model_name = 'model', 
             platform = 'aws', 
             authentication = { 'bucket'  : 'ml-model-001' })

Model Successfully Deployed on AWS S3

In [18]:
help(deploy_model)

Help on function deploy_model in module pycaret.regression.functional:

deploy_model(model, model_name: str, authentication: dict, platform: str = 'aws')
    This function deploys the transformation pipeline and trained model on cloud.


    Example
    -------
    >>> from pycaret.datasets import get_data
    >>> boston = get_data('boston')
    >>> from pycaret.regression import *
    >>> exp_name = setup(data = boston,  target = 'medv')
    >>> lr = create_model('lr')
    >>> # sets appropriate credentials for the platform as environment variables
    >>> import os
    >>> os.environ["AWS_ACCESS_KEY_ID"] = str("foo")
    >>> os.environ["AWS_SECRET_ACCESS_KEY"] = str("bar")
    >>> deploy_model(model = lr, model_name = 'lr-for-deployment', platform = 'aws', authentication = {'bucket' : 'S3-bucket-name'})


    Amazon Web Service (AWS) users:
        To deploy a model on AWS S3 ('aws'), the credentials have to be passed. The easiest way is to use environment
        variables in your local environment. Following information from the IAM portal of amazon console account
        are required:

        - AWS Access Key ID
        - AWS Secret Key Access

        More info: https://boto3.amazonaws.com/v1/documentation/api/latest/guide/credentials.html#environment-variables


    Google Cloud Platform (GCP) users:
        To deploy a model on Google Cloud Platform ('gcp'), project must be created
        using command line or GCP console. Once project is created, you must create
        a service account and download the service account key as a JSON file to set
        environment variables in your local environment.

        More info: https://cloud.google.com/docs/authentication/production


    Microsoft Azure (Azure) users:
        To deploy a model on Microsoft Azure ('azure'), environment variables for connection
        string must be set in your local environment. Go to settings of storage account on
        Azure portal to access the connection string required.

        - AZURE_STORAGE_CONNECTION_STRING (required as environment variable)

        More info: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-python?toc=%2Fpython%2Fazure%2FTOC.json


    model: scikit-learn compatible object
        Trained model object


    model_name: str
        Name of model.


    authentication: dict
        Dictionary of applicable authentication tokens.

        When platform = 'aws':
        {'bucket' : 'S3-bucket-name', 'path': (optional) folder name under the bucket}

        When platform = 'gcp':
        {'project': 'gcp-project-name', 'bucket' : 'gcp-bucket-name'}

        When platform = 'azure':
        {'container': 'azure-container-name'}


    platform: str, default = 'aws'
        Name of the platform. Currently supported platforms: 'aws', 'gcp' and 'azure'.


    Returns:
        None